* {
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-align: center;
}

a {
    color: #0f0f0f;
    margin-bottom: 1rem;
}

img {
    width: 200px;
    cursor: pointer;
}

.App {
    display: flex;
    align-items: center;
    padding-top: 3rem;
    flex-direction: column;
    row-gap: 2rem;
}
